:root {
    --header-font-size: 24px;
}

.is_hidden {
    opacity: 0;
}

#search_button {
    width: 100%;
}

/* Inside the tabs header, height is 53px */
.progress-container {
    position: fixed;
    right: 1rem;
}

.progress {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 46px;
}

#progress_result {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 40px;
}

#progress_ring {
    --size: 46px;
}

#progress_spinner {
    font-size: 46px;
    --track-width: 4px;
}

.card-header {
    width: 100%;
    margin-bottom: 10px;
}

.card-header [slot='header'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header h3 {
    margin: 0;
}

.card-header sl-icon-button {
    font-size: var(--sl-font-size-medium);
}

.device-entry-description {
    float: right;
}

.main-tabs {
    padding-left: 1rem;
    padding-right: 1rem;
}

.program-buttons-group {
    width: 100%;
}

.program-buttons {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#alert_box {
    /* display: none; */
    /* margin-left: 5rem;
    margin-right: 50px; */
    margin: 1rem 1rem 0 1rem;
    border-style: solid;
    border-width: 3px 0 0 0;
    margin-bottom: -3px;
}

#alert_box::part(base) {
    color: white;
}

#alert_icon {
    margin-right: 0.5rem;
}

.app-header {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-bottom: 0 !important;
    padding-top: 0rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
    font-size: var(--header-font-size);
}

.status-bar {
    position: absolute;
    right: 0;
    margin-top: 5px;
}

.status-icon {
    margin-left: 10px;
}


#watering_progress {
    transform: rotate(-90deg);
    width: var(--header-font-size);
}

.bluetooth-disconnected {
    color: gray;
    opacity: 0.5;
}

.bluetooth-connected {
    color: #017ff5;
    opacity: 1;
}

.watering-off {
    color: gray;
    opacity: 0.5;
}

.watering-on {
    color: #017ff5;
    opacity: 1;
}

#logs_button {
    position: fixed;
    z-index: 1;
    bottom: 1rem;
    right: 1rem;
}